<settings>
	<category label="General">
	    <setting id="theme" type="enum" label="Addon Theme" values="Shine|Luna Blue|Iconic" default="0"/>
		<setting id="parallel_mode" type="enum" label="Parallel Mode" values="Threads|Processes|None" default="0"/>
		<setting id="calendar-day" type="slider" label="Calendar Start Day (0=Today)" default="0" range="-7,7" option="int"/>
	    <setting id="sort_progress" type="enum" label="My Next Episodes Sort Order" values="Activity|Title|Most Completed|Least Completed|Recently Aired|Previously Aired" default="0"/>
	    <setting id="show_unaired_next" type="bool" label="Show unaired episodes in My Next Episodes" default="false"/>
	    <setting id="show_unaired" type="bool" label="Show unaired episodes in Seasons" default="true"/>
	    <setting id="unaired_indicator" type="bool" label="     Show an Indicator on Unaired Episodes" default="true" enable="eq(-1,true)"/>
	    <setting id="show_unknown" type="bool" label="     Show episodes with unknown air date" default="true" enable="eq(-2,false)"/>
	    <setting id="TV_search_head" type="number" default="-1" visible="false"/>
	    <setting id="Movies_search_head" type="number" default="-1" visible="false"/>
	</category>

	<category label="User Interface">
	    <setting id="show_trending" type="bool" label="Show Trending" default="true"/>
	    <setting id="show_recommended" type="bool" label="Show Recommended" default="true"/>
	    <setting id="show_collection" type="bool" label="Show My Collection" default="true"/>
	    <setting id="show_favorites" type="bool" label="Show My Favorites" default="true"/>
	    <setting id="show_subscriptions" type="bool" label="Show My Subscriptions" default="true"/>
	    <setting id="show_watchlist" type="bool" label="Show My Watchlist" default="true"/>
	    <setting id="show_my_lists" type="bool" label="Show My Lists" default="true"/>
	    <setting id="show_other_lists" type="bool" label="Show Other Lists" default="true"/>
	    <setting id="show_progress" type="bool" label="Show My Next Episodes" default="true"/>
	    <setting id="show_my_cal" type="bool" label="Show My Calendar" default="true"/>
	    <setting id="show_general_cal" type="bool" label="Show General Calendar" default="true"/>
	    <setting id="show_premiere_cal" type="bool" label="Show Premiere Calendar" default="true"/>
	    <setting id="show_friends" type="bool" label="Show Friends" default="true"/>
	    <setting id="show_search" type="bool" label="Show Search" default="true"/>
		<setting label="Default Views" type="lsep"/>
		<setting id="movies_view" label="Default Movies View (0 = None)" type="number" default="0" visible="true"/>
		<setting id="tvshows_view" label="Default TV Shows View (0 = None)" type="number" default="0" visible="true"/>
		<setting id="seasons_view" label="Default Seasons View (0 = None)" type="number" default="0" visible="true"/>
		<setting id="episodes_view" label="Default Episodes View (0 = None)" type="number" default="0" visible="true"/>
	</category>

	<category label="Trakt.tv">
		<setting id="username" type="text" label="Trakt Username" default=""/>
		<setting id="password" type="text" label="Trakt Password" default="" option="hidden"/>
	    <setting id="use_https" type="bool" label="Use HTTPS" default="false"/>
		<setting id="trakt_timeout" type="slider" label="Trakt Timeout (seconds) (0=No Limit)" default="30" range="0,120" option="int"/>
		<setting id="cache_watched" type="bool" label="Cache watched status" default="true"/>
		<setting id="last_hash" type="text" default="" visible="false"/>
	    <setting id="TV_sub_slug" type="text" visible="false"/>
	    <setting id="Movies_sub_slug" type="text" visible="false"/>
	    <setting id="TV_fav_slug" type="text" visible="false"/>
	    <setting id="Movies_fav_slug" type="text" visible="false"/>
	    <setting id="remind_count" type="number" default="0" visible="false"/>
    </category>

    <category label="Library Integration">
	    <setting id="tvshow-folder" type="folder" label="TV Show Folder"
	             default="special://userdata/addon_data/plugin.video.salts/TVShows"/>
	    <setting id="movie-folder" type="folder" label="Movie Folder"
	             default="special://userdata/addon_data/plugin.video.salts/Movies"/>
		<setting id="auto-update_subs" type="bool" label="Automatically Update Subscriptions" default="false"/>
		<setting id="update_subs-interval" type="slider" range=".5,.5,24" option="float" label="     Update Interval (hours)" default="2" visible="eq(-1,true)"/>
		<setting id="update_subs-during-startup" type="bool" label="     During StartUp?" default="false" visible="eq(-2,true)"/>
		<setting id="update_subs-during-playback" type="bool" label="     During Playback?" default="false" visible="eq(-3,true)"/>
		<setting id="require_source" type="bool" label="Require Site Page for Movies?" default="true" visible="true"/>
		<setting id="include_specials" type="bool" label="Include specials in library?" default="false" visible="true"/>
		<setting id="library-update" type="bool" label="Update Library Afterward?" default="false" visible="true"/>
		<setting id="update_subs-notify" type="bool" label="Show Notifications?" default="false" visible="true"/>
		<setting id="include_movies" type="bool" label="Include Movies?" default="false" visible="true"/>
		<setting id="cleanup-subscriptions" type="bool" label="Prune Ended Shows?" default="false" visible="true"/>
		<setting id="exists_list" type="text" visible="false"/>
	</category>

	<category label="Source Management">
        <setting id="auto-play" type="bool" label="Auto-Play Sources" default="false"/>
		<setting id="source-win" type="labelenum" label="     Source Selection Method" values="Directory|Dialog" default="Dialog"/>		
		<setting id="source_timeout" type="slider" label="Scraper Timeout (seconds) (0=No Limit)" default="10" range="0,120" option="int"/>
		<setting id="source_results" type="number" label="Maximum Source Results (0=No Limit)" default="0"/>
		<setting id="filter_unusable" type="number" label="Filter Top Unusable Sources (0=None)" default="50"/>
		<setting id="excl_list" type="text" label="Source Exclusion List" default=""/>
		<setting id="Episode_quality" type="enum" label="Allowed TV Show Quality" values="HD & SD|HD Only|SD Only" default="0" visible="true"/>
		<setting id="Movie_quality" type="enum" label="Allowed Movie Quality" values="HD & SD|HD Only|SD Only" default="0" visible="true"/>
		<setting id="title-fallback" type="bool" label="Match episode title when season & episode fails" default="true"/>
	    <setting id="last_check" type="number" default="0" visible="false"/>
		<setting id="auto-disable" type="enum" label="Automatically disable slow scrapers" values="Off|Prompt|On" default="1"/>
		<setting id="disable-freq" type="slider" label="     Check Frequency (requests)" default="100" range="100,50,1000" option="int" enable="!eq(-1,0)"/>
		<setting id="disable-thresh" type="slider" label="     Minimum Allowed Success Percentage" default="50" range="0,100" option="int" enable="!eq(-2,0)"/>
	</category>
	
	<category label="Source Sorting">
		<setting id="enable_sort" type="bool" label="Sort Sources" default="false"/>
		<setting id="filter-unknown" type="bool" label="Drop Sources with unknown sort values" default="false" visible="eq(-1,true)"/>
		<setting id="sort1_field" type="enum" label="1st Sort Key" values="None|Source|Quality|Views|Rating" default="0" visible="eq(-2,true)"/>
		<setting id="sort1_order" type="enum" label="1st Sort Key Order" values="Best to Worst|Worst to Best" default="0" visible="eq(-3,true) + !eq(-1,0)"/>
		<setting id="sort2_field" type="enum" label="2nd Sort Key" values="None|Source|Quality|Views|Rating" default="0" visible="eq(-4,true) + !eq(-2,0)"/>
		<setting id="sort2_order" type="enum" label="2nd Sort Key Order" values="Best to Worst|Worst to Best" default="0" visible="eq(-5,true) + !eq(-1,0)+!eq(-3,0)"/>
		<setting id="sort3_field" type="enum" label="3rd Sort Key" values="None|Source|Quality|Views|Rating" default="0" visible="eq(-6,true) + !eq(-2,0) + !eq(-4,0)"/>
		<setting id="sort3_order" type="enum" label="3rd Sort Key Order" values="Best to Worst|Worst to Best" default="0" visible="eq(-7,true) + !eq(-1,0) + !eq(-3,0) + !eq(-5,0) "/>
		<setting id="sort4_field" type="enum" label="4th Sort Key" values="None|Source|Quality|Views|Rating" default="0" visible="eq(-8,true) + !eq(-2,0) + !eq(-4,0) + !eq(-6,0)"/>
		<setting id="sort4_order" type="enum" label="4th Sort Key Order" values="Best to Worst|Worst to Best" default="0" visible="eq(-9,true) + !eq(-1,0) + !eq(-3,0) + !eq(-5,0) + !eq(-7,0)"/>
		<setting id="source_sort_order" type="text" label="Source Sort Order" enable="false" visible="false"/>
		<setting id="force_title_match" type="text" label="Shows forced to match only on title" enable="false" visible="false"/>
		<setting id="toggle_enable" type="bool" label="Enable/Disable Check" default="false" enable="false" visible="false"/>
	</category>
	
	<category label="Scrapers">
         <setting id="Local-enable" type="bool" label="Local Enabled" default="true" visible="true"/>
         <setting id="Local-base_url" type="text" label="     Base Url" default="" visible="eq(-1,true)"/>
         <setting id="Local-sub_check" type="bool" label="     Include in Page Existence checks?" default="true" visible="eq(-2,true)"/>
         <setting id="PrimeWire-enable" type="bool" label="PrimeWire Enabled" default="true" visible="true"/>
         <setting id="PrimeWire-base_url" type="text" label="     Base Url" default="http://www.primewire.ag" visible="eq(-1,true)"/>
         <setting id="PrimeWire-sub_check" type="bool" label="     Include in Page Existence checks?" default="true" visible="eq(-2,true)"/>
         <setting id="UFlix.org-enable" type="bool" label="UFlix.org Enabled" default="true" visible="true"/>
         <setting id="UFlix.org-base_url" type="text" label="     Base Url" default="http://uflix.org" visible="eq(-1,true)"/>
         <setting id="UFlix.org-sub_check" type="bool" label="     Include in Page Existence checks?" default="true" visible="eq(-2,true)"/>
         <setting id="WatchSeries-enable" type="bool" label="WatchSeries Enabled" default="true" visible="true"/>
         <setting id="WatchSeries-base_url" type="text" label="     Base Url" default="http://watchseries.sx" visible="eq(-1,true)"/>
         <setting id="WatchSeries-sub_check" type="bool" label="     Include in Page Existence checks?" default="false" visible="eq(-2,true)"/>
         <setting id="movie25-enable" type="bool" label="movie25 Enabled" default="true" visible="true"/>
         <setting id="movie25-base_url" type="text" label="     Base Url" default="http://movie25.cm" visible="eq(-1,true)"/>
         <setting id="movie25-sub_check" type="bool" label="     Include in Page Existence checks?" default="true" visible="eq(-2,true)"/>
         <setting id="MerDB-enable" type="bool" label="MerDB Enabled" default="true" visible="true"/>
         <setting id="MerDB-base_url" type="text" label="     Base Url" default="http://merdb.cn" visible="eq(-1,true)"/>
         <setting id="MerDB-sub_check" type="bool" label="     Include in Page Existence checks?" default="true" visible="eq(-2,true)"/>
         <setting id="2movies-enable" type="bool" label="2movies Enabled" default="true" visible="true"/>
         <setting id="2movies-base_url" type="text" label="     Base Url" default="http://twomovies.us" visible="eq(-1,true)"/>
         <setting id="2movies-sub_check" type="bool" label="     Include in Page Existence checks?" default="true" visible="eq(-2,true)"/>
         <setting id="IceFilms-enable" type="bool" label="IceFilms Enabled" default="true" visible="true"/>
         <setting id="IceFilms-base_url" type="text" label="     Base Url" default="http://www.icefilms.info" visible="eq(-1,true)"/>
         <setting id="IceFilms-sub_check" type="bool" label="     Include in Page Existence checks?" default="true" visible="eq(-2,true)"/>
         <setting id="afdah-enable" type="bool" label="afdah Enabled" default="true" visible="true"/>
         <setting id="afdah-base_url" type="text" label="     Base Url" default="http://afdah.com" visible="eq(-1,true)"/>
         <setting id="afdah-sub_check" type="bool" label="     Include in Page Existence checks?" default="true" visible="eq(-2,true)"/>
         <setting id="iStreamHD-enable" type="bool" label="iStreamHD Enabled" default="true" visible="true"/>
         <setting id="iStreamHD-base_url" type="text" label="     Base Url" default="http://istreamhd.org" visible="eq(-1,true)"/>
         <setting id="iStreamHD-username" type="text" label="     Username" default="" visible="eq(-2,true)"/>
         <setting id="iStreamHD-password" type="text" label="     Password" option="hidden" default="" visible="eq(-3,true)"/>
         <setting id="MoviesHD-enable" type="bool" label="MoviesHD Enabled" default="true" visible="true"/>
         <setting id="MoviesHD-base_url" type="text" label="     Base Url" default="http://movieshd.co" visible="eq(-1,true)"/>
         <setting id="MoviesHD-sub_check" type="bool" label="     Include in Page Existence checks?" default="true" visible="eq(-2,true)"/>
         <setting id="SimplyMovies-enable" type="bool" label="SimplyMovies Enabled" default="true" visible="true"/>
         <setting id="SimplyMovies-base_url" type="text" label="     Base Url" default="http://www.simplymovies.net" visible="eq(-1,true)"/>
         <setting id="SimplyMovies-sub_check" type="bool" label="     Include in Page Existence checks?" default="true" visible="eq(-2,true)"/>
         <setting id="yify.tv-enable" type="bool" label="yify.tv Enabled" default="true" visible="true"/>
         <setting id="yify.tv-base_url" type="text" label="     Base Url" default="http://yify.tv" visible="eq(-1,true)"/>
         <setting id="yify.tv-sub_check" type="bool" label="     Include in Page Existence checks?" default="true" visible="eq(-2,true)"/>
         <setting id="viooz.ac-enable" type="bool" label="viooz.ac Enabled" default="true" visible="true"/>
         <setting id="viooz.ac-base_url" type="text" label="     Base Url" default="http://viooz.ac" visible="eq(-1,true)"/>
         <setting id="viooz.ac-sub_check" type="bool" label="     Include in Page Existence checks?" default="true" visible="eq(-2,true)"/>
         <setting id="FilmStreaming.in-enable" type="bool" label="FilmStreaming.in Enabled" default="true" visible="true"/>
         <setting id="FilmStreaming.in-base_url" type="text" label="     Base Url" default="http://film-streaming.in" visible="eq(-1,true)"/>
         <setting id="FilmStreaming.in-sub_check" type="bool" label="     Include in Page Existence checks?" default="true" visible="eq(-2,true)"/>
         <setting id="Alluc.to-enable" type="bool" label="Alluc.to Enabled" default="true" visible="true"/>
         <setting id="Alluc.to-base_url" type="text" label="     Base Url" default="http://dir.alluc.to" visible="eq(-1,true)"/>
         <setting id="Alluc.to-sub_check" type="bool" label="     Include in Page Existence checks?" default="true" visible="eq(-2,true)"/>
         <setting id="OnlineMovies-enable" type="bool" label="OnlineMovies Enabled" default="true" visible="true"/>
         <setting id="OnlineMovies-base_url" type="text" label="     Base Url" default="http://onlinemovies.pro" visible="eq(-1,true)"/>
         <setting id="OnlineMovies-sub_check" type="bool" label="     Include in Page Existence checks?" default="true" visible="eq(-2,true)"/>
         <setting id="OneClickMoviez-enable" type="bool" label="OneClickMoviez Enabled" default="true" visible="true"/>
         <setting id="OneClickMoviez-base_url" type="text" label="     Base Url" default="http://www.oneclickmoviez.ag" visible="eq(-1,true)"/>
         <setting id="OneClickMoviez-sub_check" type="bool" label="     Include in Page Existence checks?" default="true" visible="eq(-2,true)"/>
         <setting id="MyVideoLinks.eu-enable" type="bool" label="MyVideoLinks.eu Enabled" default="true" visible="true"/>
         <setting id="MyVideoLinks.eu-base_url" type="text" label="     Base Url" default="http://myvideolinks.eu" visible="eq(-1,true)"/>
         <setting id="MyVideoLinks.eu-sub_check" type="bool" label="     Include in Page Existence checks?" default="true" visible="eq(-2,true)"/>
         <setting id="MyVideoLinks.eu-filter" type="slider" range="0,180" option="int" label="     Filter results older than (0=No Filter) (days)" default="30" visible="eq(-3,true)"/>
         <setting id="MyVideoLinks.eu-select" type="enum" label="     Automatically Select (Movies only)" values="Most Recent|Highest Quality" default="0" visible="eq(-4,true)"/>
         <setting id="filmikz.ch-enable" type="bool" label="filmikz.ch Enabled" default="true" visible="true"/>
         <setting id="filmikz.ch-base_url" type="text" label="     Base Url" default="http://filmikz.ch" visible="eq(-1,true)"/>
         <setting id="filmikz.ch-sub_check" type="bool" label="     Include in Page Existence checks?" default="true" visible="eq(-2,true)"/>
         <setting id="iWatchOnline-enable" type="bool" label="iWatchOnline Enabled" default="true" visible="true"/>
         <setting id="iWatchOnline-base_url" type="text" label="     Base Url" default="http://www.iwatchonline.to" visible="eq(-1,true)"/>
         <setting id="iWatchOnline-sub_check" type="bool" label="     Include in Page Existence checks?" default="true" visible="eq(-2,true)"/>
         <setting id="popcornered-enable" type="bool" label="popcornered Enabled" default="true" visible="true"/>
         <setting id="popcornered-base_url" type="text" label="     Base Url" default="http://popcornered.com" visible="eq(-1,true)"/>
         <setting id="popcornered-sub_check" type="bool" label="     Include in Page Existence checks?" default="true" visible="eq(-2,true)"/>
         <setting id="Shush.se-enable" type="bool" label="Shush.se Enabled" default="true" visible="true"/>
         <setting id="Shush.se-base_url" type="text" label="     Base Url" default="http://shush.se" visible="eq(-1,true)"/>
         <setting id="Shush.se-sub_check" type="bool" label="     Include in Page Existence checks?" default="true" visible="eq(-2,true)"/>
         <setting id="ororo.tv-enable" type="bool" label="ororo.tv Enabled" default="true" visible="true"/>
         <setting id="ororo.tv-base_url" type="text" label="     Base Url" default="http://ororo.tv" visible="eq(-1,true)"/>
         <setting id="ororo.tv-username" type="text" label="     Username" default="" visible="eq(-2,true)"/>
         <setting id="ororo.tv-password" type="text" label="     Password" option="hidden" default="" visible="eq(-3,true)"/>
         <setting id="ororo.tv-include_paid" type="bool" label="     Include Paid content" default="false" visible="eq(-4,true)"/>
         <setting id="view47-enable" type="bool" label="view47 Enabled" default="true" visible="true"/>
         <setting id="view47-base_url" type="text" label="     Base Url" default="http://www.view47.com" visible="eq(-1,true)"/>
         <setting id="view47-sub_check" type="bool" label="     Include in Page Existence checks?" default="true" visible="eq(-2,true)"/>
         <setting id="vidics.ch-enable" type="bool" label="vidics.ch Enabled" default="true" visible="true"/>
         <setting id="vidics.ch-base_url" type="text" label="     Base Url" default="http://www.vidics.ch" visible="eq(-1,true)"/>
         <setting id="vidics.ch-sub_check" type="bool" label="     Include in Page Existence checks?" default="true" visible="eq(-2,true)"/>
         <setting id="OneClickWatch-enable" type="bool" label="OneClickWatch Enabled" default="true" visible="true"/>
         <setting id="OneClickWatch-base_url" type="text" label="     Base Url" default="http://oneclickwatch.org" visible="eq(-1,true)"/>
         <setting id="OneClickWatch-sub_check" type="bool" label="     Include in Page Existence checks?" default="true" visible="eq(-2,true)"/>
         <setting id="OneClickWatch-filter" type="slider" range="0,180" option="int" label="     Filter results older than (0=No Filter) (days)" default="30" visible="eq(-3,true)"/>
         <setting id="OneClickWatch-select" type="enum" label="     Automatically Select (Movies only)" values="Most Recent|Highest Quality" default="0" visible="eq(-4,true)"/>
         <setting id="WatchMovies-enable" type="bool" label="WatchMovies Enabled" default="true" visible="true"/>
         <setting id="WatchMovies-base_url" type="text" label="     Base Url" default="http://watchmovies.to" visible="eq(-1,true)"/>
         <setting id="WatchMovies-sub_check" type="bool" label="     Include in Page Existence checks?" default="true" visible="eq(-2,true)"/>
         <setting id="LosMovies-enable" type="bool" label="LosMovies Enabled" default="true" visible="true"/>
         <setting id="LosMovies-base_url" type="text" label="     Base Url" default="http://losmovies.tv" visible="eq(-1,true)"/>
         <setting id="LosMovies-sub_check" type="bool" label="     Include in Page Existence checks?" default="true" visible="eq(-2,true)"/>
         <setting id="Movie4K-enable" type="bool" label="Movie4K Enabled" default="true" visible="true"/>
         <setting id="Movie4K-base_url" type="text" label="     Base Url" default="http://www.movie4k.to" visible="eq(-1,true)"/>
         <setting id="Movie4K-sub_check" type="bool" label="     Include in Page Existence checks?" default="true" visible="eq(-2,true)"/>
    </category>
         <setting id="Local_try" type="number" default="0" visible="false"/>
         <setting id="Local_fail" type="number" default="0" visible="false"/>
         <setting id="Local_check" type="number" default="0" visible="false"/>
         <setting id="PrimeWire_try" type="number" default="0" visible="false"/>
         <setting id="PrimeWire_fail" type="number" default="0" visible="false"/>
         <setting id="PrimeWire_check" type="number" default="0" visible="false"/>
         <setting id="UFlix.org_try" type="number" default="0" visible="false"/>
         <setting id="UFlix.org_fail" type="number" default="0" visible="false"/>
         <setting id="UFlix.org_check" type="number" default="0" visible="false"/>
         <setting id="WatchSeries_try" type="number" default="0" visible="false"/>
         <setting id="WatchSeries_fail" type="number" default="0" visible="false"/>
         <setting id="WatchSeries_check" type="number" default="0" visible="false"/>
         <setting id="movie25_try" type="number" default="0" visible="false"/>
         <setting id="movie25_fail" type="number" default="0" visible="false"/>
         <setting id="movie25_check" type="number" default="0" visible="false"/>
         <setting id="MerDB_try" type="number" default="0" visible="false"/>
         <setting id="MerDB_fail" type="number" default="0" visible="false"/>
         <setting id="MerDB_check" type="number" default="0" visible="false"/>
         <setting id="2movies_try" type="number" default="0" visible="false"/>
         <setting id="2movies_fail" type="number" default="0" visible="false"/>
         <setting id="2movies_check" type="number" default="0" visible="false"/>
         <setting id="IceFilms_try" type="number" default="0" visible="false"/>
         <setting id="IceFilms_fail" type="number" default="0" visible="false"/>
         <setting id="IceFilms_check" type="number" default="0" visible="false"/>
         <setting id="afdah_try" type="number" default="0" visible="false"/>
         <setting id="afdah_fail" type="number" default="0" visible="false"/>
         <setting id="afdah_check" type="number" default="0" visible="false"/>
         <setting id="MoviesHD_try" type="number" default="0" visible="false"/>
         <setting id="MoviesHD_fail" type="number" default="0" visible="false"/>
         <setting id="MoviesHD_check" type="number" default="0" visible="false"/>
         <setting id="SimplyMovies_try" type="number" default="0" visible="false"/>
         <setting id="SimplyMovies_fail" type="number" default="0" visible="false"/>
         <setting id="SimplyMovies_check" type="number" default="0" visible="false"/>
         <setting id="yify.tv_try" type="number" default="0" visible="false"/>
         <setting id="yify.tv_fail" type="number" default="0" visible="false"/>
         <setting id="yify.tv_check" type="number" default="0" visible="false"/>
         <setting id="viooz.ac_try" type="number" default="0" visible="false"/>
         <setting id="viooz.ac_fail" type="number" default="0" visible="false"/>
         <setting id="viooz.ac_check" type="number" default="0" visible="false"/>
         <setting id="FilmStreaming.in_try" type="number" default="0" visible="false"/>
         <setting id="FilmStreaming.in_fail" type="number" default="0" visible="false"/>
         <setting id="FilmStreaming.in_check" type="number" default="0" visible="false"/>
         <setting id="Alluc.to_try" type="number" default="0" visible="false"/>
         <setting id="Alluc.to_fail" type="number" default="0" visible="false"/>
         <setting id="Alluc.to_check" type="number" default="0" visible="false"/>
         <setting id="OnlineMovies_try" type="number" default="0" visible="false"/>
         <setting id="OnlineMovies_fail" type="number" default="0" visible="false"/>
         <setting id="OnlineMovies_check" type="number" default="0" visible="false"/>
         <setting id="OneClickMoviez_try" type="number" default="0" visible="false"/>
         <setting id="OneClickMoviez_fail" type="number" default="0" visible="false"/>
         <setting id="OneClickMoviez_check" type="number" default="0" visible="false"/>
         <setting id="MyVideoLinks.eu_try" type="number" default="0" visible="false"/>
         <setting id="MyVideoLinks.eu_fail" type="number" default="0" visible="false"/>
         <setting id="MyVideoLinks.eu_check" type="number" default="0" visible="false"/>
         <setting id="filmikz.ch_try" type="number" default="0" visible="false"/>
         <setting id="filmikz.ch_fail" type="number" default="0" visible="false"/>
         <setting id="filmikz.ch_check" type="number" default="0" visible="false"/>
         <setting id="iWatchOnline_try" type="number" default="0" visible="false"/>
         <setting id="iWatchOnline_fail" type="number" default="0" visible="false"/>
         <setting id="iWatchOnline_check" type="number" default="0" visible="false"/>
         <setting id="popcornered_try" type="number" default="0" visible="false"/>
         <setting id="popcornered_fail" type="number" default="0" visible="false"/>
         <setting id="popcornered_check" type="number" default="0" visible="false"/>
         <setting id="Shush.se_try" type="number" default="0" visible="false"/>
         <setting id="Shush.se_fail" type="number" default="0" visible="false"/>
         <setting id="Shush.se_check" type="number" default="0" visible="false"/>
         <setting id="view47_try" type="number" default="0" visible="false"/>
         <setting id="view47_fail" type="number" default="0" visible="false"/>
         <setting id="view47_check" type="number" default="0" visible="false"/>
         <setting id="vidics.ch_try" type="number" default="0" visible="false"/>
         <setting id="vidics.ch_fail" type="number" default="0" visible="false"/>
         <setting id="vidics.ch_check" type="number" default="0" visible="false"/>
         <setting id="OneClickWatch_try" type="number" default="0" visible="false"/>
         <setting id="OneClickWatch_fail" type="number" default="0" visible="false"/>
         <setting id="OneClickWatch_check" type="number" default="0" visible="false"/>
         <setting id="WatchMovies_try" type="number" default="0" visible="false"/>
         <setting id="WatchMovies_fail" type="number" default="0" visible="false"/>
         <setting id="WatchMovies_check" type="number" default="0" visible="false"/>
         <setting id="LosMovies_try" type="number" default="0" visible="false"/>
         <setting id="LosMovies_fail" type="number" default="0" visible="false"/>
         <setting id="LosMovies_check" type="number" default="0" visible="false"/>
         <setting id="Movie4K_try" type="number" default="0" visible="false"/>
         <setting id="Movie4K_fail" type="number" default="0" visible="false"/>
         <setting id="Movie4K_check" type="number" default="0" visible="false"/>

	<category label="Database">
		<setting id="use_remote_db" type="bool" label="Use a MySQL DB" default="false"/>
        <setting id="db_address" type="text" label="    Address" enable="eq(-1,true)" visible="eq(-1,true)" default=""/>
        <setting id="db_port" type="integer" label="    Port" enable="eq(-2,true)" visible="eq(-2,true)" default=""/>
        <setting id="db_user" type="text" label="    Username" enable="eq(-3,true)" visible="eq(-3,true)" default=""/>
        <setting id="db_pass" type="text" label="    Password" enable="eq(-4,true)" visible="eq(-4,true)" default="" option="hidden"/>
        <setting id="db_name" type="text" label="    Database" enable="eq(-5,true)" visible="eq(-5,true)" default="salts_db"/>
		<setting id="enable_upgrade" type="bool" label="    Upgrade DB during XBMC startup" default="true" enable="eq(-6,true)" visible="eq(-6,true)"/>
        <setting id="flush_cache" type="action" label="Flush webpage cache..." enable="true"
        	action="RunPlugin(plugin://plugin.video.salts/?mode=flush_cache)"/>
        <setting id="reset_db" type="action" label="Reset SALTS DB ([COLOR red]SQLITE Only[/COLOR])" enable="true"
        	action="RunPlugin(plugin://plugin.video.salts/?mode=reset_db)"/>
         <setting id="db_export" type="action" label="Export data from SALTS DB" enable="true" 
         	action="RunPlugin(plugin://plugin.video.salts/?mode=export_db)"/>
         <setting id="db_import" type="action" label="Import data into SALTS DB" enable="true"
         	action="RunPlugin(plugin://plugin.video.salts/?mode=import_db)"/>
	</category>	
</settings>